'body':
  # Atom Specific
  'up': 'core:move-up'
  'down': 'core:move-down'
  'ctrl-up': 'core:move-up'
  'ctrl-down': 'core:move-down'
  'left': 'core:move-left'
  'right': 'core:move-right'

  # Sublime Parity
  'shift-up': 'core:select-up'
  'shift-down': 'core:select-down'
  'shift-left': 'core:select-left'
  'shift-right': 'core:select-right'
  'shift-pageup': 'core:select-page-up'
  'shift-pagedown': 'core:select-page-down'
  'pageup': 'core:page-up'
  'pagedown': 'core:page-down'
  'backspace': 'core:backspace'

  'ctrl-A': 'editor:select-to-first-character-of-line'
  'ctrl-E': 'editor:select-to-end-of-line'
  'cmd-left': 'editor:move-to-first-character-of-line'
  'cmd-right': 'editor:move-to-end-of-screen-line'
  'cmd-shift-left': 'editor:select-to-first-character-of-line'
  'cmd-shift-right': 'editor:select-to-end-of-line'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'

  # Atom Specific
  'ctrl-W': 'editor:select-word'
  'cmd-ctrl-left': 'editor:move-selection-left'
  'cmd-ctrl-right': 'editor:move-selection-right'

  # Emacs
  'alt-f': 'editor:move-to-end-of-word'
  'alt-ctrl-f': 'editor:move-to-next-subword-boundary'
  'alt-F': 'editor:select-to-end-of-word'
  'alt-ctrl-F': 'editor:select-to-next-subword-boundary'
  'alt-b': 'editor:move-to-beginning-of-word'
  'alt-ctrl-b': 'editor:move-to-previous-subword-boundary'
  'alt-B': 'editor:select-to-beginning-of-word'
  'alt-ctrl-B': 'editor:select-to-previous-subword-boundary'

  # Sublime Parity
  'cmd-a': 'core:select-all'
  'ctrl-alt-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-alt-right': 'editor:move-to-next-subword-boundary'
  'ctrl-alt-shift-left': 'editor:select-to-previous-subword-boundary'
  'ctrl-alt-shift-right': 'editor:select-to-next-subword-boundary'

'atom-workspace atom-pane':
  'cmd-alt-=': 'pane:increase-size'
  'cmd-alt--': 'pane:decrease-size'
